.product_detail{
  display: none;
  z-index: 1;
  position: absolute;
  top: 3%;
  left: 80%;
  width: 55vw;
  border: 1px solid gray;
}

.col_wrapper {
  margin-top: 1rem;}

.order_prod_detail{
  margin-top: 0;
}

#product-name h1{
  margin-top: 0;
}

.price p,
.price h2,
.available p,
.available h2{
  display: inline;
}

#in_stock{
  color: green;
}
#not_in_stock{
  color: #b30000;
}
.description{
  word-wrap: break-word;
}

#close{
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 5%;
  color: #b30000;
}

#close:hover,
#close:focus {
  cursor: pointer;}
