html {
  height: 100%; }

body {
  color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0; }

.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;}

img {
  width: 100%; }

footer {
  background-color: gray;
  color: #1a1a1a;
  padding: 2%;
  margin-top: 1rem; }

.username { /*не выводить на маленьких экранах*/
  display: none;}


/*красные кнопки*/
.red_button{
  border: none;
  margin-top: 1rem;
  width: 8.5rem;
  text-decoration: none;
  background-color: #b30000;
  border-radius: 5px;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white; }
/*конец*/


.banner {
  position: relative;
  height: 62vw; }

.banner p {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
  transform: translate(-50%, -35%);
  font-size: 2.7rem;
  font-weight: bold;
  color: #b30000;
  font-family: "Lobster";
  text-shadow: 2px 3px black; }

.menu-icon {
  font-size: 2rem;
  color: #b30000;
  position: absolute;
  top: 1%;
  margin: 0 2%; }

.menu .list {
  display: none; }


/*при нажатии на меню*/
.menu.open .list {
  background-color: gray;
  color: #fff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  position: absolute;
  left: 0;
  top: 6.6vh;
  width: 100%;
  z-index: 1; }

.menu.open .list > .li {
  padding: 1rem 0; }

.menu-icon:hover,
.touch-cats:hover {
  cursor: pointer; }
/*конец*/


.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b30000;
  height: 2rem;
  position: relative; }


/*подкатегории*/
.sub {
  margin-left: 3rem;
  color: #1a1a1a;
}
.cats .list {
  display: none !important; }


/*при нажатии на категории*/
.cats.open .list {
  background-color: gray;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  position: absolute;
  left: 0;
  top: 6.6vh;
  width: 100%; }

.main-cat {
  padding-bottom: 1rem;
  color: #b30000;}
/*конец*/


/*колонка со статьями*/
.articles,
.cats {
  color: white; }

.art-detail{
  margin-top: 2rem;
}
a {
  color: inherit;
  text-decoration: none; }

.art {
  display: none; }
/*конец*/


/* корзина, ее содержимое и кнопка "оформить"*/
.cart {
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.cart-wrap {
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;}

#cart{
  font-size: 2.2rem;
  color: #b30000;}

.cart-content{
  margin: 0; }

.cart-content p {
  margin: 0; }

.red_button.order{
  margin-top: 0;
}
/*конец*/


/* сортировка товаров*/
.sort_cart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

#sort_field {
  width: 8.5rem;
  background-color: #fff;
  border: 1px solid gray;
  height: 2rem;}

.sort_submit{
  margin-top: 0;
}
/*конец*/


/*вывод продуктов*/
hr{
  width: 100%;
}

.add-product{
  margin: 1rem;
}

.products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.prodWrapper {
  border-bottom: 1px solid gray;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
  .prodWrapper:hover {
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    border: 1px solid dimgray; }

.image {
  height: 90vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#price {
  color: #b30000;
  font-size: 1.1rem; }

.prod {
  width: 100%; }

#product-name{
  height: 3rem;}
/*конец*/


@media (min-width: 350px) {
  .red_button,
  #sort_field{
    width: 10rem;
  }
}

@media (min-width: 400px) {
  .sort,
  .cart{
    width: 21rem;
  }
  .prod:nth-child(even):nth-last-child(-n+2) ~ .prod .prodWrapper {
    border-bottom: none; } /*убираем бордер у последних элементов*/

  .menu.open .list {
    top: 10vh; }

  .prod {
    width: 50%; }

  .image {
    height: 50vw; } }


@media (min-width: 650px) {
  .col_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .left_col,
  .right_col {
    width: 48%;
  }

    /*количество элементов в строке изменилось, вставляем бордер обратно*/
  .prod:nth-child(even):nth-last-child(-n+2) ~ .prod .prodWrapper {
    border-bottom: 1px solid gray; }

  .prod:nth-child(3n):nth-last-child(-n+3) ~ .prod .prodWrapper {
    border-bottom: none; } /*убираем бордер у последних элементов*/

  .prod {
    width: 33%; }
  .image {
    height: 33vw; } }


@media (min-width: 800px) {
  .middle{
    margin: 1rem 0;
  }
  .username {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .banner {
    height: 33.4vw; }

  .banner img {
    height: 100%; }

  .banner p {
    position: absolute;
    top: 35%;
    left: 10%;
    -webkit-transform: translate(-10%, -35%);
    transform: translate(-10%, -35%); }

  .menu-icon {
    display: none; }

  .touch-cats:hover {
    cursor: default; }

  .main-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;}

  .nav {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 20%;
    background-color: inherit;
    border-right: 1px solid gray; }

  .cats,
  .articles {
    width: 90%;
    color: #1a1a1a; }

  .cats p,
  .articles p {
    margin-bottom: 1rem;
    font-size: 1.3rem; }

  .art {
    margin-bottom: 2rem;
    display: block; }

  .text {
    height: 5rem; }

  a.readmore {
    text-decoration: underline; }

  a.readmore:hover {
    color: #b30000; }

  .middle {
    width: 76%; }

  .cats .list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .menu {
    background-color: #b30000;
    color: white; }

  .menu .list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0.5rem;
    align-items: flex-end;}

  .home{
    margin-right: auto;
  }
  .li{
    margin-left: 1rem;
  }


@media (min-width: 1000px) {
  .sort_cart{
    justify-content: space-between;
    flex-direction: row;}

  .cart{
    margin-top: 0;
  }

  /*количество элементов в строке изменилось, вставляем бордер обратно*/
  .prod:nth-child(3n):nth-last-child(-n+3) ~ .prod .prodWrapper {
    border-bottom: 1px solid gray; }

  .prod:nth-child(4n):nth-last-child(-n+4) ~ .prod .prodWrapper {
    border-bottom: none; } /*убираем бордер у последних элементов*/

  .prod {
    width: 25%; }

  .image {
    height: 25vw; } }
