table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}
#head{
  height: 2rem;
}
tr{
  height: 8rem;
  border-bottom: 1px solid dimgray;
}

th,
td{
  text-align: center;
  display: table-cell;
  width: 5rem;;
}
#product_name{
  width: 15rem;
}
tr:nth-child(1) {
  background-color: #b30000;
  color: #fff;
}

table,
th,
td {
  border: 1px solid dimgray;
}

td a{
  font-size: 1.5rem;
}

.info p {
  font-size: 1.3rem;
  font-weight: bold;
}

.info{
  width: 100%;
}
