{% extends 'base.html' %}

{% block content %}
<div class="middle">
  <h2>Ваша корзина</h2>
  {% if not cart.empty %}
  <div class="info">
      <p>Товаров: {{cart.get_total_quantity}}</p>
      <p>Сумма: {{cart.get_total_price}}</p>
  </div>
  <h4>
    {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
    {% endif %}
  </h4>
  <div class="table_wrap">
    <table>
      <tr id="head">
        <th></th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
        <th>Удалить</th>
      </tr>
      {% for item in cart %}
      <tr>
        {{cart.product_ids}}
        <td><img src="{{item.product.image.url}}" alt="image"></td>
        <td id="product_name">{{ item.product.name }}</td>
        <td>{{item.product.price}}p</td>
        <td>
          <form id="cart_add" action="" method="POST">
            <input type="hidden" value="{{item.product.id}}" name="product_id">
            <input type="number" min="1" value="{{ item.quantity }}"
            name="quantity" class="cart_form">
            <input type="submit" value="Обновить"
            name="update" class="cart_form">
            {% csrf_token %}
          </form>
        </td>
        <td>{{ item.total_price }}р</td>
        <td>
          <a href="{% url "cart:cart-remove" item.product.id %}" class="red_link">&#x274c;</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <a href="/order/create/" class="red_button">Оформить</a>
  <a href="/" class="red_button" id="back_to_shopping">Продолжить покупки</a>
  {% else %}
  <div class="info">
      <p>Корзина пуста</p>
  </div>
  {% endif %}
    {% block cart %}
    {% endblock %}
  </div>
{% endblock %}
