{% extends 'base.html' %}

{% block content %}

<div class="middle">

  {% if success %}
  <div class="thanks">
    <div class="modal_bcg"></div>
    <div class="thanks_inner">
      <img src="/media/frame.jpg" alt="image">
      <span class="close">&times;</span>
      <h1 id="thanks_message">Спасибо за покупку!</h1>
    </div>
  </div>
  {% endif %}

  <div class="category">
    {% for cat in cats %}
    <div class="cat">
      <a href="/{{cat.id}}/" id="cat_link">{{cat}}</a>
    </div>
    {% endfor %}
  </div>
  <hr>
  <div class="sort_cart">
    <form action="" class="sort">
      <select id="sort_field" name="sort_field">
        <option>Сортировать по:</option>
        <option value="price">Сначала дешевые</option>
        <option value="-price">Сначала дорогие</option>
        <option value="rating">Рейтингу</option>
      </select>
      <input class="red_button sort_submit" type="submit" value="Сортировать">
    </form>
    <div class="cart">
      <div class="cart-wrap">
        <span id="cart"><a href="/cart/">
          <i class="icon-shopping-basket"></i>
        </a></span>
        <div class="cart-content">
          <p>Товаров: {{cart.get_total_quantity}}</p>
          <p>Сумма: {{cart.get_total_price}}р</p>
        </div>
      </div>
      {% if not cart.empty %}
      <a href="/order/create/" class="red_button order">Оформить</a>
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="add-product">
    {% if request.user.is_superuser %}
    <a class="red_button" href="/add">Добавить товар</a>
    {% endif %}
  </div>
  <div class="products">
    {% for product in object_list %}
    {% if product.in_stock > 0 %}
    <div class="prod">
        <div class="prodWrapper">
          <div class="image">
            <img src="{{ product.image.url }}" alt="image">
          </div>
          <div id="product-name"><h4>{{product.name}}</h4></div>
          <div id="price"><p>{{product.price}}p</p></div>
          <form id="cart_add" action="" method="POST">
            <input type="hidden" value="{{product.id}}" name="product_id">
            <input class="red_button" type="submit" value="В корзину">
            {% csrf_token %}
          </form>
        <div class="product_detail" id="product_detail">
          {% include 'product_detail.html' %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
